/** Basic Portfolio **/
/** Portfolio Page **/

header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    top:0;
    height: 100px;    
}

body {
    margin: 0;
    background: url(http://www.seekgif.com/thumb/white-ppt-background-30.jpg); 
    background-size: 50%;
}

#Name {
    background: #4aaaa5;
    color: #ffffff;
    position: relative;
    float: left;
    padding: 10px;
    margin-top: 0;
    margin-left: 17.5%;
    font-weight: bold;
}

#headerLinks {
    text-decoration: none;
    color: #777777;
    margin-right: 17.5%;
    background: #ffffff;
    float: right;
    margin-top: 20px;
    font-weight: bold;
}

ul {
    color:#777777;
    list-style: none;
    margin: 0;
    padding: 0;

}

li {
    float: left;
    padding: 20px;

}

li.border {
    border-right: 1px solid #dddddd;
    padding: 20px;
}

.MainContent{
    background-color: #ffffff;
    border: 2px solid #dddddd;
    overflow: auto;
    width: 960px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6%;
    margin-top: 3%;
}

h2{
    border-bottom: 2px solid #cccccc;
    width: 800px;
    color: #4aaaa5;
    line-height: 40px;
    margin-left: 7.5%;
    font-size: 40px;
    font-weight: bold;
}

.Hangman{
    float: left;
    margin-left: 12.5%;
    margin-bottom: 30px;
}

#HangmanName{
    padding: 15px;
    background: #4aaaa5;
    float: left;
    position: absolute;
    width: 270px;  
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    bottom: 280px;
    text-align: center;
    text-decoration: none;
}

.RPG{
    float: left;
    margin-left: 12.5%;
    margin-bottom: 30px;
}

#RPGName{
    padding: 15px;
    background: #4aaaa5;
    float: right;
    position: absolute;
    width: 270px;  
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    bottom: 280px;
    text-align: center;
    text-decoration: none;
}

.Trivia{
    float: left;
    margin-left: 12.5%;
    margin-bottom: 30px;

}

#TriviaName{
    padding: 15px;
    background: #4aaaa5;
    float: left;
    position: absolute;
    width: 270px;  
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    bottom: -5px;
    text-align: center;
    text-decoration: none;
}

.Rutgers{
    float: left;
    margin-left: 12.5%;
    margin-bottom: 30px;

}
#RutgersName{
    padding: 15px;
    background: #4aaaa5;
    float: right;
    position: absolute;
    width: 270px;  
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    bottom: -5px;
    text-align: center;
    text-decoration: none;
}

.RockPaperScissors{
    float: left;
    margin-left: 12.5%;
    margin-bottom: 30px;

}


#RPSName{
    padding: 15px;
    background: #4aaaa5;
    float: left;
    position: absolute;
    width: 270px;  
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    bottom: -290px;
    text-align: center;
    text-decoration: none;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

footer {
    border-top: 5px solid #4aaaa5;
    background: #666666;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    clear: both;
    width: 100%;
    bottom:0;
    position: fixed;
}

li a {
    color: rgb(170, 168, 168);
    text-align: center;
    padding: 1%;
    text-decoration: none;
    display: block;
 }

 /** desktop **/

  /** desktop **/

  @media screen and (max-width: 980px) {
    #Name{
        margin-left: 3%;
    }

    #headerLinks{
        margin-right: 3%;
    }

    .MainContent{
        width: 800px;
        margin-left: 3%;
    }

    h2{
        margin-left: 2%;
        width: 95%;
    }

    .Hangman{
        width: 40%;
        height: auto;
        margin-left: 5%;
    }

    #HangmanName{
        top: 360px;
        margin-left: -300px;
    }

    #RPGName{
        bottom: 360px;        
    }       
    
    .Trivia{
        width: 40%;
        height: auto;
        margin-left: 5%;
    }

    #TriviaName{
        bottom: 75px;
        margin-left: -300px;
    }
        
    #RutgersName{
        bottom: 75px;        
    }        
    
    .RockPaperScissors{
        width: 40%;
        height: auto;
        margin-left: 5%;
    }

    #RPSName{
        bottom: -205px;
        margin-left: -300px;
    }

}

/** tablet **/

@media screen and (max-width: 768px) {
    #Name{
        margin-left: 3%;
    }

    #headerLinks{
        margin-right: 1%;
    }

    .MainContent{
        width: 700px;
        margin: auto;
    }
}


/** Phone **/

@media screen and (max-width: 640px) {
    #Name {
        width: 100%;
    }

    #headerLinks{
        width: 100%;
    }

    .MainContent{
        width: 96%;
    }

    img {
        width: 90%;
        margin: auto;
    }
}